# Combining Tables

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

In [5]:
# create path shortcut
path = r'C:\Users\lisag\Desktop\CF Work\Immersion 4 Tasks\Instacart (IC) Basket Analysis'

In [7]:
# import orders_clean.csv as dataframe
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'), index_col = False)

In [9]:
# import orders_products_prior.csv as dataframe
df_orders_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [11]:
# check df_orders output
df_orders.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [15]:
# crop Unnamed column
df_orders = df_orders.drop(columns = ['Unnamed: 0'])

In [17]:
# check df_orders output
df_orders.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [19]:
# check df_orders_prior output
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [25]:
# check shape
df_orders_prior.shape

(32434489, 4)

In [27]:
# check shape
df_orders.shape

(3421083, 6)

In [29]:
# merge tables on order_id column
df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id', indicator = True)

In [31]:
# check df_merged_large output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [35]:
# check df_merged_large matches
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [37]:
# export merged dataframe to pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_productsprior_combined.pkl'))