# Data Aggregation

In [4]:
# import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# create shortcut
path = r'C:\Users\lisag\Desktop\CF Work\Immersion 4 Tasks\Instacart (IC) Basket Analysis'

In [8]:
# import pickle file orders and products
df_opm =  pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_new_columns.pkl'))

In [9]:
# check output
df_opm.shape

(32404859, 18)

In [12]:
# find the mean for order_number as grouped by department_id
df_opm.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

In [14]:
# create a new column of max order by which to sort customer loyalty
df_opm['max_order'] = df_opm.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\lisag\AppData\Local\Temp\ipykernel_12800\3234321724.py:3: FutureWarning: The provided callable <function max at 0x0000027E833FC900> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_opm['max_order'] = df_opm.groupby(['user_id'])['order_number'].transform(np.max)

In [16]:
df_opm.head(25)

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,105,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,83,4,10.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795467,2,202279,3,5,9,8.0,43668,9,0,Classic Blend Cole Slaw,123,4,7.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795462,2,202279,3,5,9,8.0,45918,4,1,Coconut Butter,19,13,8.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
31795461,2,202279,3,5,9,8.0,9327,3,0,Garlic Powder,104,13,3.6,both,Low-range product,Regularly busy,Regularly busy days,Most orders,8
31795463,2,202279,3,5,9,8.0,30035,5,0,Natural Sweetener,17,13,13.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8
32369430,3,205970,16,5,17,12.0,17461,7,1,Air Chilled Organic Boneless Skinless Chicken ...,35,12,9.1,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369425,3,205970,16,5,17,12.0,24838,2,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369424,3,205970,16,5,17,12.0,33754,1,1,Total 2% with Strawberry Lowfat Greek Strained...,120,16,11.8,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369426,3,205970,16,5,17,12.0,17704,3,1,Lemons,123,4,10.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369431,3,205970,16,5,17,12.0,32665,8,1,Organic Ezekiel 49 Bread Cinnamon Raisin,112,3,12.4,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369427,3,205970,16,5,17,12.0,21903,4,1,Organic Baby Spinach,123,4,8.2,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369428,3,205970,16,5,17,12.0,17668,5,1,Unsweetened Chocolate Almond Breeze Almond Milk,91,16,6.6,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
32369429,3,205970,16,5,17,12.0,46667,6,1,Organic Ginger Root,83,4,6.9,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,25
28063844,4,178520,36,1,9,7.0,34862,8,1,Tiny Twists Pretzels,107,19,5.0,both,Low-range product,Regularly busy,Two busiest days,Most orders,56
28063837,4,178520,36,1,9,7.0,46842,1,0,Plain Pre-Sliced Bagels,93,3,11.1,both,Mid-range product,Regularly busy,Two busiest days,Most orders,56
28063845,4,178520,36,1,9,7.0,40285,9,1,Traditional Snack Mix,125,19,3.6,both,Low-range product,Regularly busy,Two busiest days,Most orders,56
28063841,4,178520,36,1,9,7.0,10054,5,1,Kellogg's Nutri-Grain Apple Cinnamon Cereal,48,14,13.7,both,Mid-range product,Regularly busy,Two busiest days,Most orders,56
28063847,4,178520,36,1,9,7.0,25146,11,1,Original Orange Juice,31,7,8.4,both,Mid-range product,Regularly busy,Two busiest days,Most orders,56
28063848,4,178520,36,1,9,7.0,32645,12,1,Sugarfree Energy Drink,64,7,5.5,both,Mid-range product,Regularly busy,Two busiest days,Most orders,56
28063840,4,178520,36,1,9,7.0,27761,4,1,Oats & Chocolate Chewy Bars,48,14,12.2,both,Mid-range product,Regularly busy,Two busiest days,Most orders,56
28063846,4,178520,36,1,9,7.0,17616,10,1,Goldfish Cheddar Baked Snack Crackers,78,19,7.0,both,Mid-range product,Regularly busy,Two busiest days,Most orders,56

In [18]:
# create criteria for customer rankings
# loyal customers are considered those who have order 40 + times
df_opm.loc[df_opm['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [20]:
# regular customers are considered those who have ordered 11-40 times
df_opm.loc[(df_opm['max_order'] <= 40) & (df_opm['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [22]:
# new customers are considered those who have ordered 10 or fewer times
df_opm.loc[df_opm['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
# number of customers based on loyalty status
df_opm['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [26]:
# general statistics for loyalty_flag column
df_opm['loyalty_flag'].describe().round(1)

count             32404859
unique                   3
top       Regular customer
freq              15876776
Name: loyalty_flag, dtype: object

In [28]:
# summary statistics for prices in the loyal customer category
df_opm[df_opm['loyalty_flag'] == 'Loyal customer']['prices'].describe().round(1)

count    10284093.0
mean           10.4
std           328.0
min             1.0
25%             4.2
50%             7.4
75%            11.2
max         99999.0
Name: prices, dtype: float64

In [29]:
# summary statistics for prices in the regular customer category
df_opm[df_opm['loyalty_flag'] == 'Regular customer']['prices'].describe().round(1)

count    15876776.0
mean           12.5
std           539.7
min             1.0
25%             4.2
50%             7.4
75%            11.3
max         99999.0
Name: prices, dtype: float64

In [32]:
# summary statistics for prices in the new customer category
df_opm[df_opm['loyalty_flag'] == 'New customer']['prices'].describe().round(1)

count    6243990.0
mean          13.3
std          597.6
min            1.0
25%            4.2
50%            7.4
75%           11.3
max        99999.0
Name: prices, dtype: float64

In [34]:
# create a new column of order cost to sort high and low spenders
df_opm['order_cost'] = df_opm['order_number'] * df_opm['prices']

In [36]:
df_opm.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,order_cost
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,...,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,34.5
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,...,13,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,34.5
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,...,16,11.3,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,33.9
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,...,4,10.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,32.1
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,...,4,13.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,40.2

In [38]:
# calculating the average cost per user_id
df_opm['avg_order_cost'] = df_opm.groupby('user_id')['order_cost'].transform('mean').round(1)

In [40]:
df_opm.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,order_cost,avg_order_cost
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,...,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,34.5,39.6
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,...,11.5,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,34.5,39.6
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,...,11.3,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,33.9,39.6
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,...,10.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,32.1,39.6
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,...,13.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,40.2,39.6

In [2]:
# low spenders are considered those who have average orders less than $10
df_opm.loc[df_opm['avg_order_cost'] < 10, 'spender_type'] = 'Low spender'

NameError: name 'df_opm' is not defined

In [69]:
# high spenders are considered those who have average orders $10 or more
df_opm.loc[df_opm['avg_order_cost'] >= 10, 'spender_type'] = 'High spender'

In [71]:
# number of customers based on spending type
df_opm['spender_type'].value_counts(dropna = False)

spender_type
Low spender     32387339
High spender       17520
Name: count, dtype: int64

In [73]:
# create a new column to determine median orders of users
df_opm['median_days_between_orders'] = df_opm.groupby('user_id')['days_since_prior_order'].transform('median').round(1)

In [75]:
df_opm.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,order_cost,avg_order_cost,spender_type,median_days_between_orders
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,34.5,39.6,Low spender,24.0
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,34.5,39.6,Low spender,24.0
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,33.9,39.6,Low spender,24.0
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,32.1,39.6,Low spender,24.0
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,8,New customer,40.2,39.6,Low spender,24.0

In [77]:
# non-frequent customers are considered those whose orders are more than 20 days apart
df_opm.loc[df_opm['median_days_between_orders'] > 20, 'customer_frequency'] = 'Non-frequent customer'

In [87]:
# regular customers are considered those whose orders are between 11 and 20 days apart
df_opm.loc[(df_opm['median_days_between_orders'] > 10) & (df_opm['median_days_between_orders'] <=20), 'customer_frequency'] = 'Regular customer'

In [79]:
# frequent customers are considered those whose orders are less than 10 days apart
df_opm.loc[df_opm['median_days_between_orders'] < 10, 'customer_frequency'] = 'Frequent customer'

In [89]:
# number of customers based on frequency of orders
df_opm['customer_frequency'].value_counts(dropna = False)

customer_frequency
Frequent customer        20287988
Regular customer          7208564
Non-frequent customer     3636437
NaN                       1271870
Name: count, dtype: int64

In [92]:
# export as pickle file
df_opm.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_flagged.pkl'))