# Deriving New Variables

In [10]:
# import libraries
import pandas as pd
import numpy as np
import os

In [12]:
# create path shortcut
path = r'C:\Users\lisag\Desktop\CF Work\Immersion 4 Tasks\Instacart (IC) Basket Analysis'

In [14]:
# import orders and products data set
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [46]:
# change order of table to be sorted by product_id
df_ords_prods_merge = df_ords_prods_merge.sort_values(by='order_id')

In [48]:
# limit number of rows
df = df_ords_prods_merge[:1000000]

In [50]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
31795466,2,202279,3,5,9,8.0,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13,11.5,both
31795465,2,202279,3,5,9,8.0,40141,7,1,Original Unflavored Gelatine Mix,105,13,11.5,both
31795459,2,202279,3,5,9,8.0,33120,1,1,Organic Egg Whites,86,16,11.3,both
31795464,2,202279,3,5,9,8.0,17794,6,1,Carrots,83,4,10.7,both
31795460,2,202279,3,5,9,8.0,28985,2,1,Michigan Organic Kale,83,4,13.4,both

In [52]:
# check output
df.shape

(1000000, 14)

In [54]:
# define a new function based on price range
def price_label(row):

    if row['prices'] <= 5:
        return 'low range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'mid range product'
    elif row['prices'] < 15:
        return 'high range product'
    else: return np.nan

In [56]:
# apply function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\lisag\AppData\Local\Temp\ipykernel_18512\2420364775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [58]:
# check output
df['price_range'].value_counts(dropna = False)

price_range
mid range product    674229
low range product    312859
NaN                   12912
Name: count, dtype: int64

In [60]:
# max price in first 1,000,000 rows
df['prices'].max()

99999.0

In [62]:
# set a price variable
specific_price = 99999

In [64]:
# identify rows based on specified price variable
row = df[df['prices'] == specific_price]
print(row)

          order_id  user_id  order_number  orders_day_of_week  \
17128048      4783   108505            34                   2
30134540     13820   191672            25                   0
11799473     16454    74750            24                   5
26292065     16749   167224            18                   2
1174861      17778     7608             2                   2
15897705     19964   100655             1                   2
18013479     22283   114060            46                   2
12219867     23724    77427             2                   0
14626305     36991    92658            16                   5
4330473      37570    27542             3                   2
27526055     39461   175131             9                   5
29501394     44415   187581             2                   5
15323294     44528    97018             6                   6
17615113     47825   111487            27                   6
23941148     62723   152144            86                   1
26939171     62989   171443             6                   3
6447295      67023    41106            51                   1
23461696     68995   149120             2                   5
31531955     74173   200530             4                   0
13095242     84159    82951             3                   4
22856679     85346   145276            15                   2
6962676      85996    44229             5                   3
8352135      89029    52993            28                   0
13557029     90732    85881             7                   6

          order_time_24hour  days_since_prior_order  product_id  \
17128048                 13                    10.0       33664
30134540                 22                     6.0       33664
11799473                 15                     2.0       33664
26292065                 14                     6.0       33664
1174861                   8                     1.0       33664
15897705                 17                     NaN       33664
18013479                  8                     2.0       33664
12219867                 16                     8.0       33664
14626305                 11                     5.0       33664
4330473                  15                    12.0       33664
27526055                 12                    30.0       33664
29501394                 13                    30.0       33664
15323294                 18                     5.0       33664
17615113                  8                     8.0       33664
23941148                  2                     4.0       33664
26939171                 12                     5.0       33664
6447295                  17                     3.0       33664
23461696                 21                    13.0       33664
31531955                 15                     4.0       33664
13095242                 12                    30.0       33664
22856679                  7                    11.0       33664
6962676                   9                    19.0       33664
8352135                  20                     3.0       33664
13557029                 17                     3.0       33664

          add_to_cart_order  reordered           product_name  aisle_id  \
17128048                 13          0  2 % Reduced Fat  Milk        84
30134540                  6          0  2 % Reduced Fat  Milk        84
11799473                 10          1  2 % Reduced Fat  Milk        84
26292065                  9          1  2 % Reduced Fat  Milk        84
1174861                   9          0  2 % Reduced Fat  Milk        84
15897705                  1          0  2 % Reduced Fat  Milk        84
18013479                  5          1  2 % Reduced Fat  Milk        84
12219867                  6          1  2 % Reduced Fat  Milk        84
14626305                  1          1  2 % Reduced Fat  Milk        84
4330473                   4          1  2 % Reduced Fat  Milk        84
27526055                  4          0  2 % Reduced Fat  Milk        84
29501394                 10          0  2 % Reduced Fat  Milk        84
15323294                  3          1  2 % Reduced Fat  Milk        84
17615113                  4          1  2 % Reduced Fat  Milk        84
23941148                  4          1  2 % Reduced Fat  Milk        84
26939171                  5          1  2 % Reduced Fat  Milk        84
6447295                   2          1  2 % Reduced Fat  Milk        84
23461696                  9          0  2 % Reduced Fat  Milk        84
31531955                  1          1  2 % Reduced Fat  Milk        84
13095242                 10          0  2 % Reduced Fat  Milk        84
22856679                 10          0  2 % Reduced Fat  Milk        84
6962676                   4          1  2 % Reduced Fat  Milk        84
8352135                   5          0  2 % Reduced Fat  Milk        84
13557029                  7          0  2 % Reduced Fat  Milk        84

          department_id   prices _merge price_range
17128048             16  99999.0   both         NaN
30134540             16  99999.0   both         NaN
11799473             16  99999.0   both         NaN
26292065             16  99999.0   both         NaN
1174861              16  99999.0   both         NaN
15897705             16  99999.0   both         NaN
18013479             16  99999.0   both         NaN
12219867             16  99999.0   both         NaN
14626305             16  99999.0   both         NaN
4330473              16  99999.0   both         NaN
27526055             16  99999.0   both         NaN
29501394             16  99999.0   both         NaN
15323294             16  99999.0   both         NaN
17615113             16  99999.0   both         NaN
23941148             16  99999.0   both         NaN
26939171             16  99999.0   both         NaN
6447295              16  99999.0   both         NaN
23461696             16  99999.0   both         NaN
31531955             16  99999.0   both         NaN
13095242             16  99999.0   both         NaN
22856679             16  99999.0   both         NaN
6962676              16  99999.0   both         NaN
8352135              16  99999.0   both         NaN
13557029             16  99999.0   both         NaN

In [66]:
print(df.columns)

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_24hour', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range'],
      dtype='object')

In [68]:
# check output
(df['prices'] == specific_price).sum()

24

In [70]:
# use the loc() method to create a new filter column
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\lisag\AppData\Local\Temp\ipykernel_18512\1138491706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [72]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [74]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [76]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     674229
Low-range product     312859
High-range product     12912
Name: count, dtype: int64

In [80]:
# use the loc() method to create a new filter column for entire dataframe
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [82]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [84]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [86]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [88]:
# find the busiest days of the week
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [124]:
# loop creation for ranking days of the weeks' busy levels
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [128]:
df_ords_prods_merge['busiest_day'] = result

In [130]:
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [144]:
# create an additional column for busiest_days
result_1 = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value in [0, 1]:
    result_1.append("Two busiest days")
  elif value in [3, 4]:
    result_1.append("Two least busy days")
  else:
    result_1.append("Regularly busy days")

In [146]:
df_ords_prods_merge['busiest_days'] = result_1

In [148]:
# find values of busy day categories
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy days    12916111
Two busiest days       11864412
Two least busy days     7624336
Name: count, dtype: int64

In [151]:
# find the busiest hours of the day
df_ords_prods_merge['order_time_24hour'].value_counts(dropna = False)

order_time_24hour
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [153]:
# create a column for busiest_period_of_day
result_2 = []

for value in df_ords_prods_merge["order_time_24hour"]:
  if value in [9, 10, 11, 12, 13, 14, 15, 16]:
    result_2.append("Most orders")
  elif value in [0, 1, 2, 3, 4, 5, 6, 23]:
    result_2.append("Fewest orders")
  else:
    result_2.append("Average orders")

In [155]:
df_ords_prods_merge['busiest_period_of_day'] = result_2

In [157]:
# find values for busy times
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [159]:
# export dataframe as pickle
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_new_columns.pkl'))