# Data Consistency Checks

In [10]:
# import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# create path shorcut
path = r'C:\Users\lisag\Desktop\CF Work\Immersion 4 Tasks\Instacart (IC) Basket Analysis'

In [16]:
# import products data set
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [14]:
# import cleaned orders data set
df_ow = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [18]:
# create a test dataframe
df_test = pd.DataFrame()

In [20]:
# create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [22]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [26]:
# check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [28]:
# change all types to string/object
df_test['mix'] = df_test['mix'].astype('str')

In [30]:
df_test.dtypes

mix    object
dtype: object

In [32]:
# find missing values in products dataframe
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [34]:
# create a subset for missing values
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [38]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [42]:
df_prods.shape

(49693, 5)

In [44]:
# remove null values from products dataframe 
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [46]:
df_prods_clean.shape

(49677, 5)

In [48]:
# create a duplicate dataframe of products
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [50]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [52]:
df_prods_clean.shape

(49677, 5)

In [54]:
# drop duplicate values
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [58]:
df_prods_clean_no_dups.shape

(49672, 5)

In [60]:
# export products_clean
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_clean.csv'))

In [75]:
# check for statistical anomalies 
df_ow.describe().round(1)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order
count,3421083.0,3421083.0,3421083.0,3421083.0,3421083.0,3421083.0,3214874.0
mean,1710541.0,1710542.0,102978.2,17.2,2.8,13.5,11.1
std,987581.7,987581.7,59533.7,17.7,2.0,4.2,9.2
min,0.0,1.0,1.0,1.0,0.0,0.0,0.0
25%,855270.5,855271.5,51394.0,5.0,1.0,10.0,4.0
50%,1710541.0,1710542.0,102689.0,11.0,3.0,13.0,7.0
75%,2565811.5,2565812.5,154385.0,23.0,5.0,16.0,15.0
max,3421082.0,3421083.0,206209.0,100.0,6.0,23.0,30.0

In [80]:
# dropping Unnamed column
df_ow = df_ow.drop(columns = ['Unnamed: 0'])

In [82]:
df_ow.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [84]:
# check for mixed types
for col in df_ow.columns.tolist():
  weird = (df_ow[[col]].map(type) != df_ow[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ow[weird]) > 0:
    print (col)

In [86]:
df_ow.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_time_24hour           int64
days_since_prior_order    float64
dtype: object

In [90]:
# find missing values
df_ow.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_time_24hour              0
days_since_prior_order    206209
dtype: int64

In [ ]:
# df_ow_no_nans = df_ow.dropna(subset = [‘days_since_prior_order’], inplace = True)

This course of action is really dependent upon if the data only needs to pertain to repeat customers. Depending on
what I am trying to find in the analysis, I would most likely just leave it alone unless I needed to calculate statistics
for that particular column. Otherwise, it is a significant amoung of rows and the other data in those rows could be useful.
To demonstrate what I would do I created a subset dataframe that omits those rows, but I did not run it.

In [94]:
# find duplicates
df_ow_dups = df_ow[df_ow.duplicated()]

In [106]:
df_ow_dups.describe()

,order_id,user_id,order_number,orders_day_of_week,order_time_24hour,days_since_prior_order
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
num_duplicates = df_ow.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [113]:
# export cleaned orders dataframe
df_ow.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_clean.csv'))